.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.about-title {
  margin-top: 5rem; 
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 3rem;
  text-shadow: 
    3px 3px 0px #ff0000,
    -3px -3px 0px #ff0000,
    0 0 8px rgba(255, 0, 0, 1),
    0 0 15px rgba(255, 0, 0, 0.8);
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid white; /* Outline */
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05); /* Light transparent overlay */
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2); /* Initial soft glow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-section:hover {
  transform: translateY(-5px); /* Slight lift effect */
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5); /* Stronger glow */
}


.about-section.right {
  flex-direction: row; /* Image on Right */
}

.about-container .about-section.left {
  flex-direction: row-reverse !;
}



.about-content {
  flex: 1;
  padding: 1rem;
  color: white;
}

.about-image {
  width: 40%;
  max-width: 300px;
  border-radius: 10px;
}

.about-button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.about-button:hover {
  background-color: white;
  color: black;
  transform: translateY(5px);
}

.about-content h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #c50202;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.about-content p {
  font-size: 1.2rem;
  line-height: 1.6; 
  color: #f0f0f0;
  font-weight: 300; 
  text-align: justify;
}

.about-buttons {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1.2rem;
}
.about-buttons:hover {
  background-color: white;
  color: black;
  transform: translateY(5px);
}
