.no-select {
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For IE/Edge */
}

.about-container {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
}

.about-title {
    margin-top: 20px;
    font-size: 3rem;
    font-weight: bold;
    color: #fcfcfc;
    text-align: center;
    padding: 40px;
    text-shadow: 6px 2px 4px #ff0000;
}


.about-section {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: black;
    max-width: 950px; /* Shrinks width */
    margin-left: auto;
    margin-right: auto; /* Centers the section */
    transition: box-shadow 0.2s ease-in-out; /* Smooth transition */
}

/* Glowing effect on hover */
.about-section:hover {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8); /* White glow */
}



/* Layout for right and left sections */
.about-section.right {
    flex-direction: row; /* Image on right */
}

.about-section.left {
    flex-direction: row-reverse !; /* Image on left */
}

/* Styled h2 */
.about-content h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #c20024;
    text-transform: uppercase;
}

/* Increased font size for paragraph */
.about-content p {
    font-size: 1.2rem;
    color: #d3d3d3; /* Light grey for readability */
    line-height: 1.6;
    text-align: justify;
}

/* Text content */
.about-content {
    flex: 2;
}

/* Image styles */
.about-image {
    width: 37%;
    border-radius: 10px;
}


/* Buttons */
.about-button,
.about-buttons {
    background-color: #808080; /* Grey */
    color: #ffffff; /* White text */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 10px;
    transition: background 0.3s ease;
}

.about-button:hover,
.about-buttons:hover {
    background-color: #800020; /* Burgundy on hover */
}


/* Responsive Design */
@media (max-width: 768px) {
    .about-section {
        flex-direction: column !important;
        text-align: center;
        border-width: 1px; /* Slightly thinner border for smaller screens */
    }

    .about-image {
        width: 50%;
    }
}
