body {
    font-family: "Arial", sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    color: #fff;
}

/* Container */
.user-profile-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 20px 40px 20px;
}

/* Card */
.user-card {
    
    background: linear-gradient(
        to bottom,
        #2a2a2a,
        #1a1a1a
    );
    border: 1px solid #c0a068;


    padding: 25px 35px;
    border-radius: 12px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.6);
    width: 600px;
    text-align: center;
    margin-top: 35px;
}

/* Header */
.user-header {
    margin-bottom: 25px;
}

.user-header h2 {
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.6);
}

.user-header p {
    font-size: 1rem;
    margin: 5px 0;
    color: #f1f1f1;
}

/* Content */
.user-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

/* Sections */
.user-section {
    flex: 1;
    background: #1e1e1e;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #c0a068;
}

.user-section h3 {
    font-size: 1.2rem;
    color: #c0a068;
    border-bottom: 2px solid #c0a068;
    margin-bottom: 20px;
    padding-bottom: 8px;
}

/* List */
.user-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-section li {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #ddd;
    padding: 8px 12px;
    border-radius: 6px;
    background: #121212;
    transition: background 0.3s ease, color 0.3s ease;
}

/* Hover effect */
.user-section li:hover {
    background: #c0a068;
    color: #000;
}

/* Buttons */
.user-actions button {
    border: 1px solid #c0a068;
    color: #fff;
    background: transparent;
    cursor: pointer;
}

.user-actions button:hover {
    background: rgba(192, 160, 104, 0.25);
}

/* Icons */
.icon {
    color: #c0a068;
    font-size: 1.2rem;
}
