
.main .heading {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
  overflow-y: hidden;
}

.main{
   position: relative;
   width: 100%;
   max-width: 100%; /* Ensure no unintentional limiting */
   box-sizing: border-box;
   padding:0;
}

.main .initial {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  padding:20px;
  padding-left:40px;
  align-items: center;
  justify-content: center;
  background-color: black;
  color:white;
}

.border1
{
  position: absolute;
  bottom:00px;
  left:0px;
}
@keyframes rotate-dots {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home_bgcircle1__MiYGt {
  animation: rotate-dots 2.66s linear infinite;
  background-image: url(../assets/images/image.png);
  background-position: 50%;
  background-size: contain;
  border-radius: 50%;
  height: 450px;
  position: absolute;
  top: 100px;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .initial div {
  flex: 1;
  overflow-y: hidden;

}

.main .initial .div2 {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

.button-container{
  padding:2px;
}
.div2 .logo{
   
  width:280px;
  height:280px;


  z-index:10;
  

}

.div1{
background-image: url('../assets/images/download.png');
display: flex;
height:inherit;
justify-content: center;
align-items: center;
}

.initial .theme{
  color: white;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.button-container{
  padding:15px;
}

.glow-button {
  margin-top: 20px;
  padding:10px;
  cursor: pointer;
  background: linear-gradient(135deg, #6a5acd, #8a2be2);
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 10px rgba(138, 43, 226, 0.6);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out;
}

.glow-button:hover{
display: block;
filter:drop-shadow(0 0 10px #fffdef)
}


@keyframes ohyeah{
  0% {
    opacity: 1;
}
50% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
.new{
  display: flex;
  flex-direction: column;
  height:80%;

 
}


.initial .des-1 {
  position: absolute;
right:0px;
  width:50em;
  height:30em;
  background-color: #f0f0f0;
}

.initial .des-2 {
  position: absolute;
 right:10px;
 top:9px;
  width:14em;
  height:15em;
  transform: rotate(180deg);

}
.pres{
  font-size: 20px;
  font-weight: 300;
}
.h2{
  padding-top: 20px;
  background-color: black;
  color:white;
  font-size:40px;
}

.about{
  background-color: black;
  /* height: 100vh; */
  padding:20px;
  padding-left:40px;
  display: flex;
 color: white;
 height:100vh;
}
.about .first{
  display: flex;
  

}

.about .first img{
  width:540px;
  height:480px;
  border-radius: 4%;
}

.about .second {
  padding:10px;
 color:white;
  font-size: 20px;
  line-height: 40px;
  padding-left: 30px;
}

.about .second::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); /* Adjust the alpha for transparency */
  pointer-events: none; /* Prevents interaction with the overlay */
}

.about div{
  flex:1;
}
.main h2{
  padding-left: 40px;
}

.second button {
  margin-top: 20px;
  background: linear-gradient(135deg, #6a5acd, #8a2be2);
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 10px rgba(138, 43, 226, 0.6);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out;
}

.second button:hover{
  display: block;
filter:drop-shadow(0 0 10px #fffdef)
}

.main .border{
  
  height:250px;
  width:1500px;
}



@media(max-width:1400px)
{
  .main .des-1{
    visibility: hidden;
  }
 
  .home_bgcircle1__MiYGt{
    visibility: hidden;
  }
}

@media(max-width:1050px)
{
  .main .heading{
    margin-top: 80px;
  }
  .main .initial{
    height:auto;
    flex-direction: column;
  }
  .main .initial .logo{
    visibility: hidden;
    width: 0;
    height:0;
  }
  .about{
    height:auto;
    flex-direction: column;

  }
  .theme{
    margin-top: 20px;
  }
  
}

@media (max-width:594px) {

  .button-container{
    margin-bottom: 40px;
  }
  .home_bgcircle1__MiYGt{
    visibility: visible;
    animation: rotate-dots 2.66s linear infinite;
    background-image: url(../assets/images/image.png);
    background-position: 50%;
    background-size: contain;
    border-radius: 50%;
    height: 360px;
    position: absolute;
    top: 28%;
    width: 360px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main .initial .logo{
    height:15em;
   width:15em; 
   visibility: visible;
  }
  .about .first img{
    visibility: hidden;
    height:0;
    width:0;
  }
  .h2{
    font-size:35px;
  }
  .main .initial .contact_but{
    background-color: black;
    color:#f0f0f0;
    font-size:13px;
    cursor: pointer;
    border:1px solid black;
  }
  .initial .theme{
    color: black;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding:10px;
    background-color: white;
    margin-top:20px;
  }

  .button{
    margin-bottom: 20px;
  }

 .about p{
  font-size:14px;
  line-height: 25px;
  
 }
 .about{
  padding-top: 0;
 }
 .main h2{
  margin-bottom: 0;
 }
 .about .second{
  padding-right: 0;
 }
 .about .second{
  padding-left:0;
 }
 .second button{
  margin-left:10px;
 }
 .theme{
  z-index: 10;
 }
}



@media (max-width:522px) {

  
  .main .initial .heading{
    font-size:30px;
    
  }
  
  .home_bgcircle1__MiYGt{
    visibility: visible;
    animation: rotate-dots 2.66s linear infinite;
    background-image: url(../assets/images/image.png);
    background-position: 50%;
    background-size: contain;
    border-radius: 50%;
    height: 340px;
    position: absolute;
    top: 23%;
    width: 340px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
  .main .initial .contact_but{
    padding:10px;
    background-color: black;
    color:#f0f0f0;
    font-size:13px;
    cursor: pointer;
    border:1px solid black;
  }
  .initial .theme{
    padding:10px;
    background-color: #f0f0f0;
    color: black;
    font-size: 13px;
    border:1px solid black;
    z-index: 100;
  

  }

  .button{
    display: flex;
    margin-bottom: 20px;
  }

 
}

@media (max-width:480px)
{
  .home_bgcircle1__MiYGt{
    visibility: visible;
    animation: rotate-dots 2.66s linear infinite;
    background-image: url(../assets/images/image.png);
    background-position: 50%;
    background-size: contain;
    border-radius: 50%;
    height: 340px;
    position: absolute;
    top: 24%;
    width: 340px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.logo{
  margin-top: 10px;
}


}


@media (max-width:480px)
{
  .home_bgcircle1__MiYGt{
    height: 340px;
    position: absolute;
    top: 26%;
    width: 340px;
    margin-top: 20px;
  }

  .logo{
margin-top: 20px;
  }

}

