
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,400..900&display=swap");


.gallery-section {
  background-color: transparent;
  width: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  /* Theme Variables */
  --gall-gold-primary: #c0a068;
  --gall-gold-dim: #aa8c2c;
  --gall-card-bg: #1a1a1a;
  --gall-text-color: #ffffffe6;
  --gall-card-height: 280px;
  --gall-img-width: 420px; 
  --gall-gap: 1.5rem;
}

.gallery-track-container {
  width: 100%;
  overflow: hidden;
}

.gallery-track {
  display: flex;
  gap: var(--gall-gap);
  width: max-content;
  /* Infinite Scroll Animation */
  animation: scroll-left 50s linear infinite;
  padding-left: 2rem;
}

.gallery-track:hover {
  animation-play-state: paused;
}

.gallery-heading {
  font-family: "Bodoni Moda", serif;
  font-style: italic;
  font-weight: 600;
  font-size: 3rem;
  color: var(--gall-text-color);
  margin-bottom: 2.5rem;
  margin-left: 0;
  padding-left: 1rem;
  line-height: 1.1;
}

.gallery-heading span {
  color: var(--gall-gold-primary);
  font-weight: 800;
    font-family: "Bodoni Moda", serif;
  font-style: italic;
}
.gallery-card {
  position: relative;
  width: var(--gall-img-width);
  height: var(--gall-card-height);
  background-color: var(--gall-card-bg);
  border: 1px solid var(--gall-gold-dim);
  border-radius: 8px; 
  overflow: hidden;
  transition:
    transform 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease;
  flex-shrink: 0;
  cursor: pointer;
}

.gallery-card:hover {
  transform: translateY(-5px); 
  border-color: var(--gall-gold-primary);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(50%); /* For hover Effect */
  transition:
    filter 0.4s ease,
    transform 0.4s ease;
}

.gallery-card:hover .gallery-img {
  filter: grayscale(0%);
  transform: scale(1.05); 
}

.gallery-card:hover {
  opacity: 1;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - (var(--gall-gap) / 2)));
  }
}


@media (max-width: 768px) {
  .gallery-section {
    padding: 2rem 0; 
    --gall-card-height: 200px;
    --gall-img-width: 300px;
    --gall-gap: 1rem;
  }

  .gallery-heading {
    font-size: 1.8rem; 
    padding-left: 0.9rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    border-left-width: 3px;
  }

  .gallery-track {
    padding-left: 1rem;
    animation-duration: 40s;
  }

  .gallery-img {
    filter: grayscale(0%);
  }
  .gallery-card {
    pointer-events: none;
    cursor: default;
    transform: none !important;
    box-shadow: none !important;
  }
  .gallery-track:hover {
    animation-play-state: running !important;
  }
}
